{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
    <div {{ react_component('MyComponent', { 'fullName': 'Enrick' }) }}></div>
    <div {{ react_component('navbar') }}></div>
    <div id="root"></div>
{% endblock %}
